*{margin:0;padding:0;}
html{height: 100%;}
body{
	height: 100%;
	background-color:#f9f9f9; 
}
table{border-collapse: collapse;}
#VIEW{
	width: 1000px;
	height: 600px;
	overflow: hidden;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top:-300px;
	margin-left: -500px;
	border:1px solid black; 
}
#FRAME{
	width:1600px;
	height: 900px;
	position: absolute;
	background-image: linear-gradient(bottom, #addef8, #dff2fc);
	background-image: -webkit-linear-gradient(bottom, #addef8, #dff2fc);
	background-image: -moz-linear-gradient(bottom, #addef8, #dff2fc);
	background-image: -ms-linear-gradient(bottom, #addef8, #dff2fc);
}
#FRAME>div{
	position: absolute;
}
#LAYER_MENU{
	z-index: 3;
}
#LAYER_ACT{
	z-index: 2;
}
	#LAYER_ACT div{
		z-index: 1;
		position: absolute;
	}
#LAYER_BG{	
	z-index: 1;
}

#LAYER_ACT table{
	transform:rotate(-26deg) skewX(38deg);
	-ms-transform:rotate(-26deg) skewX(38deg); /* IE 9 */
	-moz-transform:rotate(-26deg) skewX(38deg); /* Firefox */
	/-webkit-transform:rotate(-26deg) skewX(38deg); /* Safari and Chrome */
	-o-transform:rotate(-26deg) skewX(38deg); /* Opera */
}
#LAYER_ACT td{
	position: relative;
	width:35px;
	height:27px;
	border:1px solid transparent;
}

[class*="ELEVATION"]{
	position: relative;
	background-color: red;
	opacity: 0.5;
}
.ELEVATION_1{
	z-index:1;
	bottom:15px;
	left:17px;
}
.ELEVATION_2{
	z-index:2;
	bottom:30px;
	left:35px;
}
.ELEVATION_3{
	z-index:3;
	bottom:45px;
	left:57px;
}
.ELEVATION_4{
	z-index:4;
	bottom:59px;
	left:73px;
}
.ELEVATION_5{
	z-index:5;
	bottom:75px;
	left:92px;
}
.ELEVATION_6{
	z-index:6;
	bottom:89px;
	left:110px;
}
.ELEVATION_7{
	z-index:7;
	bottom:104px;
	left:131px;
}
.ELEVATION_8{
	z-index:8;
	bottom:119px;
	left:147px;
}
.ELEVATION_9{
	z-index:9;
	bottom:134px;
	left:166px;
}
.ELEVATION_10{
	z-index:10;
	bottom:148px;
	left:186px;
}
.ELEVATION_11{
	z-index:11;
	bottom:163px;
	left:204px;
}
.ELEVATION_12{
	z-index:12;
	bottom:178px;
	left:222px;
}
.ELEVATION_13{
	z-index:13;
	bottom:192px;
	left:240px;
}