*{margin:0;padding:0;}
html{height: 100%;}
body{
	height: 100%;
	background-color:#f9f9f9; 
}
table{border-collapse: collapse;}
#VIEW{
	width: 1000px;
	height: 600px;
	overflow: hidden;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top:-300px;
	margin-left: -500px;
	border:1px solid black; 
}
#FRAME{
	width:1600px;
	height: 900px;
	position: absolute;
	background-image: linear-gradient(bottom, #addef8, #dff2fc);
	background-image: -webkit-linear-gradient(bottom, #addef8, #dff2fc);
	background-image: -moz-linear-gradient(bottom, #addef8, #dff2fc);
	background-image: -ms-linear-gradient(bottom, #addef8, #dff2fc);
}
#FRAME>div{
	position: absolute;
}
#LAYER_MENU{
	z-index: 3;
}
#LAYER_ACT{
	z-index: 2;
}
	#LAYER_ACT div{
		z-index: 1;
		position: absolute;
	}
#LAYER_BG{	
	z-index: 1;
}

#LAYER_ACT table{
<<<<<<< HEAD
	transform-origin: left top; /*important all position calculation relied on*/
	-ms-transform-origin : left top;
	-webkit-transform-origin : left top;
	transform:rotate(-26deg) skewX(37deg);
	-ms-transform:rotate(-26deg) skewX(37deg); /* IE 9 */
	-moz-transform:rotate(-26deg) skewX(37deg); /* Firefox */
	-webkit-transform:skew(64deg, -27deg); /* Safari and Chrome */
	-o-transform:rotate(-26deg) skewX(37deg); /* Opera */
}
/*
table tr:nth-child(even) td:nth-child(even){
	background-color: red;
	opacity: 0.5;
}
table tr:nth-child(even) td:nth-child(odd){
	background-color: blue;
	opacity: 0.5;
}
table tr:nth-child(odd) td:nth-child(odd){
	background-color: red;
	opacity: 0.5;
}
table tr:nth-child(odd) td:nth-child(even){
	background-color: blue;
	opacity: 0.5;
}
*/
#LAYER_ACT td{
	position: relative;
	width:32px;
	height:16px;
}

.moveable{
	background-color: blue;
	opacity: 0.5;
}
/*
[class*="ELEVATION"]{
	position: relative;
	background-color: red;
	opacity: 0.5;
}
*/
