*{margin:0;padding:0;}
html{height: 100%;}
body{
	height: 100%;
	background-color:#f9f9f9; 
}
table{border-collapse: collapse;}
#VIEW{
	width: 1000px;
	height: 600px;
	overflow: hidden;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top:-300px;
	margin-left: -500px;
	border:1px solid black; 
}
#FRAME{
	width:1600px;
	height: 900px;
	position: absolute;
	background-image: linear-gradient(bottom, #addef8, #dff2fc);
	background-image: -webkit-linear-gradient(bottom, #addef8, #dff2fc);
	background-image: -moz-linear-gradient(bottom, #addef8, #dff2fc);
	background-image: -ms-linear-gradient(bottom, #addef8, #dff2fc);
}
#FRAME>div{
	position: absolute;
}
#LAYER_MENU{
	z-index: 3;
}
#LAYER_ACT{
	z-index: 2;
	

}
#LAYER_BG{	
	z-index: 1;
}

#LAYER_ACT table{
	transform:skewX(30deg) rotate(-30deg);
	-ms-transform:skewX(30deg) rotate(-30deg); /* IE 9 */
	-moz-transform:skewX(30deg) rotate(-30deg); /* Firefox */
	-webkit-transform:rotate(-26deg) skewX(38deg); /* Safari and Chrome */
	-o-transform:skewX(30deg) rotate(-30deg); /* Opera */
}
td{
	width:35px;
	height:27px;
	border:1px solid white;
}
td.BLOCK{
	1background-color: black;
	1opacity: 0.5;
}
[class*="ELEVATION"]{
	position: relative;
	opacity: 0.4;
}
.ELEVATION_1{
	background-color: red;
	bottom:15px;
	left:17px;
}
.ELEVATION_2{
	background-color: blue;
	bottom:30px;
	left:35px;
}
.ELEVATION_3{
	background-color: red;
	bottom:45px;
	left:57px;
}
.ELEVATION_4{
	background-color: blue;
	bottom:59px;
	left:73px;
}
.ELEVATION_5{
	background-color: red;
	bottom:75px;
	left:92px;
}
.ELEVATION_6{
	background-color: blue;
	bottom:89px;
	left:110px;
}
.ELEVATION_7{
	background-color: red;
	bottom:104px;
	left:130px;
}
.ELEVATION_8{
	background-color: blue;
	bottom:119px;
	left:147px;
}
.ELEVATION_9{
	background-color: red;
	bottom:134px;
	left:166px;
}
.ELEVATION_10{
	background-color: blue;
	bottom:148px;
	left:184px;
}
.ELEVATION_11{
	background-color: red;
	bottom:163px;
	left:204px;
}
.ELEVATION_12{
	background-color: blue;
	bottom:178px;
	left:222px;
}
.ELEVATION_13{
	background-color: red;
	bottom:192px;
	left:240px;
}